.calculator {
  padding: 16px 16px 25px 16px;
  background-color: $white;

  &__annotation {
    padding: 7px 16px 14px 17px;
    border-left: 4px solid $main;
    line-height: 22px;

    &--wrap {
      margin: 16px 0;
      background-color: $white;
      border-radius: 5px;
      padding: 5px 0;
    }

    &::before {
      content: "";
      display: block;
      width: 4px;
      height: calc(100% - 10px);
      background-color: $main;
      left: 0;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
  }
}

@media (min-width: 768px) {
  .calculator,
  .calculator__annotation {
    width: 100%;
  }

  .calculator {
    padding: 40px 24px 24px;
    &__title {
      font-size: 22px;
    }
  }
}
