#calculator__form {
  display: flex;
  flex-direction: column;

  & input[type="text"],
  input[type="number"],
  select {
    width: 100%;
    height: 50px;
    border: 1px solid $border;
    border-radius: 5px;
    padding: 0 10px 0 17px;
    background-color: $white;
    color: $form-input;
  }

  input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    height: 1px;
    margin-top: -1px;
    background-image: linear-gradient(
      90deg,
      $transparent 5px,
      $main 5px,
      $main calc(100% - 5px),
      $transparent calc(100% - 5px)
    );
  }
  input[type="range"]::-webkit-slider-thumb {
    background: $white;
    border: 1px solid $border;
    border-radius: 50%;
    cursor: pointer;
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    margin-top: -10px;
    box-shadow: 0px 2px 2px $range-shadow;
  }

  input[type="range"]::-moz-range-track {
    height: 1px;
    margin-top: -1px;
    background-image: linear-gradient(
      90deg,
      $white 5px,
      $main 5px,
      $main calc(100% - 5px),
      $white calc(100% - 5px)
    );
  }

  input[type="range"]::-moz-range-thumb {
    background: $white;
    border: 1px solid $border;
    border-radius: 50%;
    cursor: pointer;
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    margin-top: -10px;
    box-shadow: 0px 2px 2px $range-shadow;
  }

  & select {
    appearance: none;
    position: relative;
    background-image: url(../img/dropdown.svg), url(../img/dropdown-bg.svg);
    background-position: calc(100% - 17px) calc(1em + 7px),
      calc(100% - 6px) calc(1em + -5px);
    background-repeat: no-repeat;
  }

  & label {
    font-size: 12px;
    line-height: 16px;
    color: #989898;
    margin-bottom: 7px;
    margin-top: 18px;
  }

  .chkbx-toggle {
    display: none;
  }

  .switch {
    margin-top: 5px;
  }
}

.input-group {
  display: flex;
  flex-direction: column;
}

.form {
  &__disclaimer {
    background-color: $white;
    text-align: center;
    padding-top: 25px;
  }
  &__result {
    color: $white;
    font-size: 18px;
    line-height: 24px;
    background-color: $background-result;
    text-align: center;
    padding: 13px 40px 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  &__price {
    margin-left: 20px;
    font-weight: 700;
  }
}

.doors-row {
  display: flex;
  flex-direction: column;
}
.doors {
  display: flex;
  flex-direction: column;
}
.enter-door {
  display: flex;
  flex-direction: column;
  // margin-left: 48px;
}

.required {
  color: $required;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 32px;
  margin-top: 0;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $main;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $background-toggle;
}

input:focus + .slider {
  box-shadow: 0 0 1px $background-toggle;
}

input:checked + .slider:before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 32px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle-row {
  display: flex;
  align-items: center;
}
.enter-door__no {
  margin-left: 12px;
  font-size: 18px;
  font-weight: 400;
  color: $form-input;
}

.input-group {
  display: flex;
  flex-direction: column;

  & .input__wrap:nth-child(2) {
    margin-left: 30px;
  }
}

.input__wrap {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  #calculator__form {
    & input[type="text"],
    input[type="range"],
    select {
      width: 318px;
    }
  }

  .doors-row {
    flex-direction: row;
  }

  .enter-door {
    margin-left: 48px;
  }
}

@media (min-width: 991px) {
  .input-group {
    flex-direction: row;
  }
}
