$main: #4496f6;
$white: #fff;
$text: #161616;
$border: #e5e5e5;
$background: #F5F6F8;
$background-result: #347DB8;
$background-secondary: #fafafa;
$form-input: #666666;
$required: #D22E2E;
$range-shadow: rgba(0, 0, 0, 0.1);
$transparent: transparent;