$main: #4496f6;
$white: #fff;
$text: #161616;
$border: #e5e5e5;
$background: #f5f6f8;
$background-result: #347db8;
$background-secondary: #fafafa;
$background-search: #f8f8f8;
$background-toggle: #f3f4f8;
$form-input: #666666;
$required: #d22e2e;
$range-shadow: rgba(0, 0, 0, 0.1);
$search-bar-border: 1px solid rgba(52, 125, 184, 0.1);
$search-icon-border: 1px solid rgba(52, 125, 184, 0.15);
$transparent: transparent;
